body{
	background-color: #252526;
	color: #27A4CD;
}

.navbar-default {
	background-color: transparent;
	border-color: transparent;
}

.navbar .brand, .navbar .nav > li > a:hover {
    background-color: #3F3F46;
	color: #27A4CD;
}

.navbar-nav {
  font-size: 15px;
}

#eeh-navigation-page-wrapper{
	border-left: none;
}

.torrent-heading {
	font-size: 16px;
	color: #27A4CD !important;
	font-weight: bold;
}

.error-message-torrent-item {
	color: orangered;
	font-family: Courier New, Courier, monospace
}

.downloading-message-torrent-item {
	color: #57AB34
}

.seeding-message-torrent-item{
	color: #57AB34
}

.progress{
	height: 10px;
	margin-bottom: 5px;
	background-color: #ccc;
}

.list-group-item {
	border: none;
	border-bottom: 1px solid;
	background-color: transparent;
}

.list-group-item:first-child {
	border-top-right-radius: 0px;
	border-top-left-radius: 0px;	
}

.list-group-item:last-child {
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;	
}


.list-group-item:hover{
	background-color: #252526 !important;
	border-top: 0px solid transparent !important;
}

.downloading-ratio{
	color: #ccc;
	font-size: 12px;
}

.seeding-ratio{
	color: #ccc;
	font-size: 12px;
}

.login-dialog-window .modal-dialog {
  width: 350px;
}

.modal-content {
	background-color: #3F3F46;
}

.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}

.dropdown-menu{
	background-color: #3F3F46;
}

.dropdown-menu > li > a {
	color: #27A4CD;	
}

.dropdown-menu > li > a:hover {
	background-color: #ccc;
	color: #27A4CD;		
}
